<div class="library-top">
    <h1>This is your <%- language.libname %> library</h1>
    <form class="library-prompts" action="/profile/<%- id %>" method="POST">
    <label >Syntax:
        <input type="text" name="prompt">
    </label> 
        <button type="submit">Generate Library Entry</button>
    </form>
</div>

<div class="all-prompts">
    <% prompts.forEach(prompt => { %>

    <div class="singleSection">
        <div class="codePart">
            <div class="titlePrompt">
               <h5> <%- prompt.prompt %> </h5>
            </div>
            <pre>
                <p><%- prompt.response %></p>
            </pre>

        </div>

        <div class="updatePart">
            <form class="update" action="/profile/<%- id %>/<%- prompt._id %>/update" method="POST">
                <label> Update Prompt:
                <input type="text" name="prompt">
                </label> 
                <button type="submit">Update </button>
            </form>

            <form action="/profile/<%- id %>/<%- prompt._id %>/delete" method="POST">
                <button>Delete</button>
            </form>
        </div>
    </div>

    <% }) %>
</div>

