<div class="profile-section">
    <div id="profile-top">
        <div class="profile-img">
            <img src="https://i.pinimg.com/originals/3f/94/70/3f9470b34a8e3f526dbdb022f9f19cf7.jpg" alt="profile">
        </div>
        <div class="profile-heading">
            <h1>Hello <%- currentUser.username %></h1>
            <p>Currently learning these languages: <% currentLibraries.forEach(Library => { %>
                    <%- Library.libname %>
                    <% }) %> %></p>
            <p>Learning since: <%- currentUser.createdAt %></p>
            <button class="profile-btn"><a href="/profile/library-creation">Create New Library</a></button>
        </div>
    </div>
    <div class="library-list">
        <% currentLibraries.forEach(Library => { %>
            <a href="/profile/<%- Library._id %>">
                <div class="library-container">
                    <%- Library.libname %>
                </div>
            </a>
        <% }) %> 
    </div>
</div>
